@using cvPageWeb.Models.Entity
@model List<TBL_EXPERIENCE>




@foreach (var item in Model)
{
<div class="box">
    <div class="year_company">
        <h5>@item.start_day.@item.start_month.@item.start_year - @item.finish_day.@item.finish_month.@item.finish_year</h5>
        <h5>@item.company_name</h5>
    </div>
    <div class="text">
        <h4>@item.title</h4>
        <p>
            @item.description
        </p>
    </div>
</div>
}

